
<html>
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <title>Dodawanie zadania</title>
</head>
<body>


<div style="margin: 20px; float: right">
    <button type="button" class="btn btn-primary" onClick="location.href='/logout'" >Wyloguj</button>
</div>
<div style="margin: 20px">
    <button type="button" class="btn btn-primary btn-lg btn-block" onClick="location.href='/userList'" >Wróć</button>
</div>


<form method="POST" >

    <table>

        <tr>
            <td></br>Nazwa: </td><td></br><input type="text" id="name" name="name"></td>
        </tr>

        <tr>
            <td></br>Status: </td><td></br><select name="status">
                    <option>W trakcie wykonani</option>
                    <option>Wykonanie wstrzymane</option>
                    <option>Wykonao</option>
                </select></td>
        </tr>

        <tr>
            <td></br>Opis: </td><td></br><input type="text" id="description" name="description"></td>
        </tr>

        <tr>
            </br><td>Wykonawce: </td>

            <td></br>
                <select name="user">


                    {% for i in user %}
                        <option>{{ i.login }}</option>
                    {% endfor %}


                </select>
            </td>





            {#<td></br>Wykonawca</td><td></br><input type="text" id="user" name="user"></td>#}
        </tr>

        <tr>

            <td></td><td></br></br><input type="submit" value="Dodaj"></td>
        </tr>




    </table>
</form>




</body>
</html>